<div class="profile-container">
  <div class="profile-wrapper">
    <div class="top-button-holder">
      <button mat-raised-button color='primary' routerLink="/">Back</button>
      <button mat-raised-button (click)='handleLogOut()'>Sign Out</button>
    </div>

    <section class="user-info">
      <p class="sec-title mb-3">Information</p>
      <div class="if-user" *ngIf='user'>
        <p class="sec-info">Email: <span class='info'>{{user.email}}</span></p>
        <p class="sec-info" *ngIf='user.displayName'>Username: <span class="info">{{user.displayName}}</span></p>
        <p class="sec-info">Account Created: <span class="info">{{account_creation}}</span></p>
      </div>

    </section>

    <section class="user-games">
      <div class="special-case">
        <p class="sec-title">Created Games </p>
        <span class='helper'>(clicking on a game will allow you to edit it)</span>
      </div>

      <div class="table-holder" *ngIf='user_games.length > 0'>
        <mat-table [dataSource]="display_games" class="mat-elevation-z8" *ngIf='games_loaded'>
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let game"> {{game.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date" class='hide-mobile'>
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let game"> {{game.formatted_date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="avg_score">
            <mat-header-cell *matHeaderCellDef> Avg. Score </mat-header-cell>
            <mat-cell *matCellDef="let game"> {{game.avg_score}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="plays" class='hide-mobile'>
            <mat-header-cell *matHeaderCellDef> Plays </mat-header-cell>
            <mat-cell *matCellDef="let game"> {{game.plays}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayColumnsGames"></mat-header-row>
          <mat-row (click)='handleGameClick(row)' [ngStyle]="{cursor:'pointer'}"
            *matRowDef="let row; columns: displayColumnsGames;">
          </mat-row>
        </mat-table>
      </div>



      <div class="empty-games" *ngIf='user_games.length === 0'>
        You haven't created any games yet!
      </div>
    </section>
    <section class="high-scores-section">
      <div class="sec-title mb-3">Highscores</div>
      <div class="scores-holder" *ngIf='user_highscores.length > 0'>
        <mat-table [dataSource]="user_highscores" class="mat-elevation-z8" *ngIf='games_loaded'>
          <ng-container matColumnDef="game_title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let score"> {{score.game_title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="score" class='hide-mobile'>
            <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
            <mat-cell *matCellDef="let score"> {{score.score}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let score"> {{score.formatted_date}} </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayColumnsScores"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumnsScores;">
          </mat-row>
        </mat-table>
      </div>
      <div class="empty-scores" *ngIf='user_highscores.length === 0'>
        You haven't recored any highscores yet!
      </div>
    </section>
  </div>
</div>