.profile-container {
  min-height: 100vh;
  .profile-wrapper {
    padding: 20px;

    section {
      border: 1px #eee solid;
      padding: 20px;
      margin: 1em 0;

      .sec-title {
        font-size: 20px;
        text-decoration: underline;
        margin-bottom: 8px;
      }

      .games-holder {
        display: flex;
        flex-wrap: wrap;
      }

      .game {
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        margin: 0 8px 8px 0;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
          background-color: white;
          color: #48c774;
          padding: 9px;
          border: 1px #48c774 solid;
          transition: color 0.3s, background-color 0.3s;
        }
      }
    }
  }
}
