.profile-container {
  min-height: 100vh;
  .profile-wrapper {
    padding: 20px;
    @media screen and (max-width: 700px) {
      padding: 5px;
    }

    section {
      padding: 20px;

      @media screen and (max-width: 700px) {
        padding: 20px 5px;
      }

      .special-case {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
      }

      .sec-title {
        font-size: 20px;
        text-decoration: underline;
      }

      span.helper {
        display: block;
        font-size: 14px;
        margin-left: 5px;
      }

      .sec-info {
        font-weight: 600;
        margin-bottom: 0.5em;
        .info {
          font-weight: 400;
        }
      }

      .games-holder {
        display: flex;
        flex-wrap: wrap;
      }

      .game {
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        margin: 0 8px 8px 0;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
          background-color: white;
          color: #48c774;
          padding: 9px;
          border: 1px #48c774 solid;
          transition: color 0.3s, background-color 0.3s;
        }
      }
    }
  }
}
