<div class="how-container">
  <div class="how-wrapper">
    <h1 class="">How to play</h1>
    <p class="">Select a game to play from the game list page. Make sure you read
      instructions as the top of the page, they will help you. Press start when you are ready and start typing,
      any correct answer will automatically be accepted!</p>
    <p class="class">If you are logged in, you will be able to create games of your own, and record high scores for
      already existing games.</p>
    <p class="">Good Luck!</p>
    <div class="button-area">
      <button mat-raised-button (click)='handleAction("")'>Home</button>
      <button mat-raised-button (click)='handleAction("list")'>Game List</button>
      <button mat-raised-button *ngIf='show_pro' (click)='handleAction("profile")'>Profile</button>
      <button mat-raised-button *ngIf='!show_pro' (click)='handleAction("login")'>Login</button>
    </div>
  </div>
</div>