.how-container {
  min-height: 100vh;
  width: 100vw;

  .how-wrapper {
    padding: 20px;
    @media screen and (max-width: 700px) {
      padding: 5px;
    }

    .button-area {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1em;
    }

    .mar-right {
      margin-right: 10px;
    }
  }
}
