<div class="how-container">
  <div class="bg-3"></div>
  <div class="bg-4"></div>
  <div class="how-wrapper">
    <div class="button-area">
      <p class='mar-right'>
        <button mat-raised-button (click)='handleAction("")' color='primary'>Home</button>
      </p>
      <p class='mar-right'>
        <button mat-raised-button (click)='handleAction("list")'>Game List</button>
      </p>
      <p>
        <button mat-raised-button *ngIf='show_pro' (click)='handleAction("profile")' color='primary'>Profile</button>
      </p>
      <p>
        <button mat-raised-button *ngIf='!show_pro' (click)='handleAction("login")' color='primary'>Login</button>
      </p>
    </div>
    <div class="content-wrapper">
      <h1 class="">How to play</h1>
      <p class="info">Welcome to Time Score, a game that tests both your typing speed and your knowledge of different
        categories.</p>
      <p class="info">Select a game to play from the game list page. Make sure you read
        the game specific instructions on the game information page, they will help you. Press start when you are ready
        and start typing! Any correct answers will automatically be accepted!</p>
      <p class="info">If you are logged in, you will be able to create games of your own and record your high scores</p>
      <p class="info">Good Luck!</p>
    </div>
  </div>
</div>