<div class="instructions-bg">
  <div class="hero is-bold is-info">
    <div class="hero-body">
      <div class="container">
        <p class="title has-text-centered">How to play</p>
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <p class="subtitle has-text-centered is-5">Select a game to play from the game list page. Make sure you read
              instructions as the top of the page, they will help you. Press start when you are ready and start typing,
              any correct answer will automatically be accepted!</p>
          </div>
        </div>
        <p class="subtitle has-text-centered">Good Luck!</p>
      </div>

    </div>
    <div class="hero-footer">
      <div class="level mb-3">
        <div class="level-item">
          <button class="button is-inverted is-info is-large" (click)='toGamesList()'>List of Games</button>
        </div>
        <div class="level-item">
          <button class="button is-inverted is-info is-large" (click)='toHomePage()'>Home Page</button>
        </div>
      </div>
    </div>
  </div>
</div>