<div class="hero is-medium is-bold is-success">
  <div class="hero-body">
    <p class="title has-text-centered">How to play</p>
    <p class="subtitle has-text-centered">Select a game to play from the game list page. Make sure you read instructions
      as the top of the page, they will help you know what will actually be accepted as a right answer!. Press start
      when you are ready and start typing! Have Fun!</p>
  </div>
  <div class="hero-footer">
    <div class="level mb-3">
      <div class="level-item">
        <button class="button is-inverted is-success is-large" (click)='toGamesList()'>List of Games</button>
      </div>
      <div class="level-item">
        <button class="button is-inverted is-success is-large" (click)='toHomePage()'>Home Page</button>
      </div>
    </div>
  </div>
</div>