<div class="game-page-bg" *ngIf='ready'>
  <div class="top-section">
    <p class='game-title'>{{game.title}}</p>
    <div class="buttons-holder">
      <button mat-raised-button color='warn' (click)='leaveGame()'>Back</button>

      <h3 class='' *ngIf='play; else score'>Time left: {{time}}</h3>
      <ng-template #score>
        <h3 class=''>You got {{scoreGame}} right!</h3>
      </ng-template>
      <button mat-raised-button color='accent' (click)='startGame()'>{{ongoing ? "Restart":"Start"}}</button>

    </div>
    <p>
      <mat-form-field appearance='outline' class='full'>
        <mat-label>{{game.title}}</mat-label>
        <input #gameInput type="text" matInput appearance='outline' [placeholder]='game.input_placeholder'
          autocomplete='off' disabled (input)='evaluateInput()' [(ngModel)]='guess'>
      </mat-form-field>
    </p>

  </div>
  <div class="answer-holder">
    <div *ngFor='let answer of game.answers'>
      <div [ngClass]='answer.guessed ? "guessed": play? "not-guessed": "missed"'>{{answer.display_value}}</div>
    </div>
  </div>
</div>