<div class="game-page-bg" *ngIf='ready'>
  <div class="top-section">
    <p class='game-title'>{{game.title}}</p>
    <div class="buttons-holder">
      <button mat-raised-button color='warn' (click)='leaveGame()'>Back</button>

      <h3 class='' *ngIf='play; else score'>Time left: {{time}}</h3>
      <ng-template #score>
        <h3 class=''>You got {{scoreGame}} right!</h3>
      </ng-template>
      <button mat-raised-button color='accent' (click)='startGame()'>{{ongoing ? "Restart":"Start"}}</button>

    </div>
    <p>
      <mat-form-field appearance='outline' class='full'>
        <mat-label>{{game.title}}</mat-label>
        <input #gameInput type="text" matInput appearance='outline' [placeholder]='game.input_placeholder'
          autocomplete='off' disabled (input)='evaluateInput()' [(ngModel)]='guess'>
      </mat-form-field>
    </p>

  </div>
  <div class="answer-holder">
    <div *ngFor='let answer of game.answers'>
      <div [ngClass]='answer.guessed ? "guessed": play? "not-guessed": "missed"'>{{answer.display_value}}</div>
    </div>
  </div>
</div>

<div [ngClass]="show_end_modal ? 'end-game-modal active':'end-game-modal'" *ngIf='show_end_modal'>
  <div class="end-game-wrapper">
    <h2 class="end-title">Game Over!</h2>
    <p class="end-info">You guessed {{scoreGame}} answers correctly out of {{game.answers.length}}</p>
    <p class="end-info">with {{this.time}} seconds left</p>
    <p class="end-info">Your score for this round was {{score_total}}!</p>
    <div class="is-user" *ngIf='can_score'>
      <p class="end-info" *ngIf='prev_score'>Your previous highscore was {{prev_score.score}}</p>
      <div class="end-info" *ngIf='!prev_score'>This is your new highscore!</div>
    </div>
    <div class="not-user" *ngIf='!can_score'>
      <p class="end-info">If you would like to track your highscores, please sign up!</p>
    </div>
    <div class="button-area">
      <button mat-raised-button color='accent' (click)='handleOver("page")'>Game Info Page</button>
      <button mat-raised-button color='primary' (click)='handleOver("stay")'>Play Again</button>

      <button mat-raised-button color='accent' (click)='handleOver("list")'>Game List</button>
    </div>
  </div>
</div>