.not-guessed {
  background-color: whitesmoke;
  color: whitesmoke;
  user-select: none;
}

.missed {
  color: red;
}

.answer-holder {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  row-gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.answer-holder p {
  margin: 0 5px;
}
