.gameInput {
  font-weight: bolder;
  font-size: 20px;
}

.game-page-bg {
  background: linear-gradient(15deg, #111, rgb(3, 41, 25));
  min-height: calc(100vh - 52px);
}

.bottom-half {
  padding-top: 1em;
}

.answer-holder {
  display: grid;
  row-gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.answer-holder div {
  width: 90%;
  height: 90%;
  min-height: 40px;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  display: grid;
  place-items: center center;
  @media screen and (max-width: 1000px) {
    font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    font-size: 10px;
  }
  @media screen and (max-width: 400px) {
    font-size: 8px;
  }
}

.not-guessed {
  background-color: whitesmoke;
  color: whitesmoke;
  user-select: none;
}

.missed {
  color: white;
  background-color: #f14668;
  opacity: 0;
  animation-name: popIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.guessed {
  color: white;
  background-color: #48c774;
  opacity: 0;
  animation-name: popIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
