<div class="container">
  <div class="hero is-small is-link">
    <div class="hero-body">
      <p>{{game.name}}</p>

      <p>{{game.description}}</p>

      <p>{{game.instructions}}</p>
      <p *ngIf='play; else score'>{{time}}</p>
      <ng-template #score>
        <p>You got {{scoreGame}} right!</p>
      </ng-template>
    </div>
    <div class="hero-footer">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <button class="button is-link is-inverted" (click)='startGame()'>Start</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="level">
    <div class="level-item">
      <input #gameInput type="text" class='input' placeholder='enter team name here' disabled (input)='evaluateInput()'
        [(ngModel)]='guess'>
    </div>
  </div>

  <div class="answer-holder">
    <div *ngFor='let answer of game.answers'>
      <p [ngClass]='answer.guessed ? "": play? "not-guessed": "missed"'>{{answer.display_value}}</p>
    </div>
  </div>



</div>