.gameInput {
  font-weight: bolder;
  font-size: 20px;
}

.game-page-bg {
  min-height: 100vh;
}

.bottom-half {
  padding-top: 1em;
}

.answer-holder {
  display: grid;
  row-gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.answer-holder div {
  width: 90%;
  height: 90%;
  min-height: 40px;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  display: grid;
  place-items: center center;
  @media screen and (max-width: 1000px) {
    font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    font-size: 10px;
  }
  @media screen and (max-width: 400px) {
    font-size: 8px;
  }
}

.not-guessed {
  background-color: whitesmoke;
  color: whitesmoke;
  user-select: none;
}

.missed {
  color: white;
  background-color: #f14668;
  opacity: 0;
  animation-name: popIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.guessed {
  color: white;
  background-color: #48c774;
  opacity: 0;
  animation-name: popIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-section {
  width: 50vw;
  min-width: 350px;
  margin: 0 auto;
  padding: 10px;

  .game-title {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
  }

  .game-des {
    font-size: 18px;
    text-align: center;
    font-weight: 550;
  }

  .buttons-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .full {
    display: block;
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
  }
}

.end-game-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.548);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  display: none;

  &.active {
    display: flex;
  }

  .end-game-wrapper {
    width: 50vh;
    min-width: 350px;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;

    .end-title {
      text-align: center;
    }

    .end-info {
      text-align: center;
    }
  }
}
