<section class="hero is-medium is-link">
  <div class="hero-body has-text-centered">
    <h1 class="title">Time Score</h1>
    <h2 class="subtitle">60 seconds for glory</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        <div class="card">
          <figure class='image is-4by3'>
            <img src="../../../assets/images/playblocks.jpg" alt="">
          </figure>
          <div class="card-content">
            <p class="subtitle">
              Fast-paced fun that will keep you coming back!
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <figure class='image is-4by3'>
            <img src="../../../assets/images/keyboard.jpg" alt="">
          </figure>
          <div class="card-content">
            <p class="subtitle">
              New games added all the time
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <figure class='image is-4by3'>
            <img src="../../../assets/images/highscore.jpg" alt="">
          </figure>
          <div class="card-content">
            <p class="subtitle">
              What is your highest score?
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>