<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" (click)='setDisplay("landing")'>Home</a>

    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
      aria-expanded="false" data-target="main-nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-nav" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a (click)='setDisplay("list")' class="navbar-item">List of Games</a>
      <a (click)='setDisplay("instructions")' class="navbar-item">How to Play</a>
    </div>
  </div>
</nav>

<div class="main-panel" [ngSwitch]='displayPage'>
  <div *ngSwitchCase="'landing'">
    <app-landing (landingClick)='setDisplay("list")'></app-landing>
  </div>
  <div *ngSwitchCase="'list'">
    <app-game-list></app-game-list>
  </div>
  <div *ngSwitchCase="'instructions'">
    <app-instructions (sendToPage)='setDisplay($event)'></app-instructions>
  </div>
</div>

<router-outlet></router-outlet>