<div class="login-container">
  <div class="login-wrapper">
    <h2 class="login-title">{{action_login ? "Login":"Sign up"}}</h2>
    <mat-form-field class='full'>
      <mat-label>Email</mat-label>
      <input matInput type="text" autocomplete="email" placeholder="example@mail.com" [(ngModel)]="email">
      <button mat-button *ngIf="email" matSuffix aria-label="Clear" (click)="email=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class='full' *ngIf="!action_login">
      <mat-label>Username</mat-label>
      <input matInput type="text" autocomplete="new-password" placeholder="John Doe" [(ngModel)]="username">
      <button mat-button *ngIf="username" matSuffix aria-label="Clear" (click)="username=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class='full'>
      <mat-label>Password</mat-label>
      <input matInput type="password" autocomplete="new-password" placeholder="********" [(ngModel)]="password">
      <button mat-button *ngIf="password" matSuffix aria-label="Clear" (click)="password=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="button-area">
      <button mat-raised-button color='primary' (click)='handleLoginSignup()'>{{login ? "Login":"Signup"}}</button>
      <button mat-button color="primary" (click)='toggleLogin()'>Need to Sign Up?</button>
    </div>
  </div>
</div>