.login-container {
  min-height: 100vh;
  padding-top: 100px;

  .login-wrapper {
    width: 400px;
    margin: 0 auto;

    .login-title {
      margin-bottom: 1em;
    }

    .button-area {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;
    }
  }

  .full {
    width: 100%;
  }
}
