.login-container {
  min-height: 100vh;
  padding-top: 100px;

  .login-wrapper {
    width: 400px;
    margin: 0 auto;

    .login-title {
      margin-bottom: 1em;
    }

    .button-area {
      display: grid;
      grid-template-columns: 1fr;
      margin: 1em auto 0;
      align-items: center;
      gap: 20px;
    }
  }

  .full {
    width: 100%;
  }
}
