.games-container {
  min-height: 100vh;

  .games-wrapper {
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      padding: 5px;
    }
  }

  .games-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5em;

    .list-title {
      font-size: 18px;
      margin-right: 2em;
    }
  }

  .games-holder {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: fit-content;
  }

  .game {
    padding: 10px;
    border-radius: 5px;
    border: 1px #eee solid;
    width: 600px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;

    &:hover {
      border: 1px #1fb8ff solid;
      color: #1fb8ff;
    }

    .game-title {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
  }
}

.hide-mobile {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
