.list-bg {
  min-height: calc(100vh - 52px);
  background-color: #111;
  transition: background-color 6s;
}

.newBG1 {
  background-color: rgb(9, 5, 39);
}

.newBG2 {
  background-color: rgb(5, 39, 20);
}

.newBG3 {
  background-color: rgb(39, 12, 5);
}
