.info-container {
  min-height: 100vh;
  .info-wrapper {
    padding: 20px;
    @media screen and (max-width: 700px) {
      padding: 5px;
    }

    .game-holder {
      margin: 1em 0;
    }

    .game-title {
      font-size: 24px;
      font-weight: 600;
    }

    .sub {
      margin: 1em 0;
    }
  }
}
